# Arduino build artifacts
*.bin
*.elf
*.map

# Build folders (Arduino IDE / PlatformIO)
build/
.pio/
*.ino.cpp

# Python (tests)
__pycache__/
.venv/
.env
*.ipynb_checkpoints

# Logs & raw data
tests/data/*.log
tests/data/*_raw.csv

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
